<app-header [backgroudClssImge]="'header-personal'">
  <div class="typed-container">
    <h1 class="typed-cursor">اعرف شخصيتك</h1>
  </div>
</app-header>
<div data-aos="zoom-in">
  <div class="container position-relative all_contant">
    <h2>هل تعاني من الاكتئاب؟</h2>
    <p>
      ​يعطي هذا الاختبار نبذة عن حالتك النفسية و درجة الاكتئاب عندك و لا يعد
      وسيلة تشخيص دقيقة فلابد من الرجوع للطبيب النفسي لتشخيصك في الأسبوعين
      الماضيين كم مره تضايقت من الأمور التالية:​​
    </p>
    <div class="d-flex">
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center align-items-center flex-column"
          >
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  متحفظ/لا يشارك يُقيد ويكبت
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />مؤثر
                  لديه القدرة على الاقناع
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  حذر بطيء ومتأني
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  معبر، يُظهر ويكشف مشاعره
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  ريادي/رائد، يجرب افكار جديدة
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="personality"
                  />سديد/دقيق، محدد
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  محمس/مشوق، متلهف
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  مكتفي/قنوع، راض
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  باذل/مضحي، سعيد بمساعدة الاخرين
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="personality"
                  />حيوي/نشيط، مفعم بالحيوية
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  جرئ/مقدام. لديه الجرأة والجسارة لخوض المخاطر
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  محدد/مدقق، ينجز المهام بدقة شديدة
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" /> مجادل،
                  يتشاجر مع الاخرين
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />كثير
                  الشكوك، يريد ان يرى دليل او اثبات
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  غير حاسم/متردد، يتخذ القرارات بصعوبة
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  يصعب التكهن بتصرفاته، مختلف دائمًا
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" /> يُقدر
                  ويحترم الاخرين
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="personality"
                  />منطلق/غير متحفظ، غير خجول، كثير الكلام، يشارك بافكاره
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  صبور، يستمع مع الاحتفاظ بهدوئه
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  شجاع/مقدام، لديه الشجاعة للقيام بالاعمال
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />مقنع
                  للاخرين، يستطيع اقناعهم بآراءه
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />يعتمد
                  على نفسه، لا يعتمد على الاخرين
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  منطقي، تفكير سديد، يفكر في السبب والتأثير
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  لطيف مع الآخرين
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />حذر،
                  حريص
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />هادئ
                  المزاج، لا يغضب بسهولة
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  حاسم، واضح ومؤكد في اتخاذ القرارات
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  باعث على الفرح والمرح. مُضحك
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />يتمتع
                  بالشعبية، معروف ومحبوب من الجميع
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />واثق
                  بشدة/قاطع
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  يسعى للكمال والمثالية، يجب انجاز المهام بالضبط وباعلى جودة
                  ودقة
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  كريم، غير اناني
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />ينبض
                  بالحياة، مبهج، مرح، متفرد
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="personality"
                  />خجول/متحفظ، لا يجذب الانتباه لنفسه
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  يسهل التعامل معه، هادئ ومسترخ
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  عنيد/غير مرن، لا يسعى للتغيير
                </label>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="w-100">
            <div class="question-container">
              <div class="question">
                اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
              </div>
              <div class="answers">
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />منظم
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />متفائل،
                  يرى الجزء أو المنظور الأفضل
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  مثابر، يرفض الاستسلام
                </label>
                <label class="answer">
                  <input type="radio" name="q1" value="personality" />
                  متأقلم/متكيف، يستطيع التأقلم مع اي وضع وايجاد مكان له
                </label>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />قاسي،
                    غير متهاون
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />متواضع، غير متفاخر ولا متكبر
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    محب للناس/ودود، مهتم بالاخرين
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    ثرثار، يحب الكلام
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />ودود،
                    عطوف وسهل الاقتراب منه
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />دقيق
                    الملاحظة، يقظ، حاد الادراك
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    يحب المرح، يريد ان يستمتع
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    قوي الارادة، يتمسك بقراراته
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />حلو
                    المعشر، مثير للاهتمام
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />مغامر،
                    يحب تجربة الأفكار الجديدة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    منضبط، ملتزم، يعمل افضل في وجود القواعد
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    متأني، متروي في التفكير بعناية
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />متحفظ،
                    يكبت افكاره ولا يشاركها
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />ثابت،
                    راسخ، جدير بالثقة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    عنيف، يتصرف بطريقة قوية وقاسية
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    جذاب، محبوب من الاخرين
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />حماسي،
                    ملئ بالنشاط والتحفيز
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />ذو
                    شخصية تحليلية، يستطيع تفكيك الموضوع لخطوات صغيرة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    متعاطف، متفهم للمشاعر
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    عاقد العزم، واثق الخطي، ينجز المهام بطريقته
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />يعطي
                    اوامر، مسيطر
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />متهور/مندفع
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    بطيء
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    ناقد
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />ثابت/راسخ، لا يتغير، يُعتمد عليه
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />قوي
                    الشخصية، يجعل الاخرين ينجزون المهام
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    نشيط، مفعم بالحيوية
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    لا يحمل هم، هادئ، ليس في عجلة من امره
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />مؤثر
                    على الأشخاص والأحداث
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />لطيف،
                    مُعين، يريد المساعدة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    مستقل، واثق من نفسه، لا يؤثر عليه الاخرون بسهولة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    منظم/مرتب
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />مثالي،
                    يسعى للكمال ولأفضل الأشياء
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />يتمتع
                    بالشعبية، محبوب من الاخرين
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    مُبهج عطوف وودود
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    يتكلم باقناع وصراحة، يتحدث بجرأة
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />غير
                    صبور، لا يستريح، متلهف لفعل شئ ما
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />جاد،
                    مُخلِص، يعمل بجدية، لا يمزح
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    مماطل، يؤجل المهام حتى آخر دقيقة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    عاطفي، يُظهر مشاعره بسهولة
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />منافس،
                    يسعى لانجاز الأشياء بدقة
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />تلقائي/عفوي، لا يضع خطط
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    مخلص/وفي، شخص حقيقي مع اصدقائه
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    يأخذ في الاعتبار كل الاحتمالات، يراعي الأمور بعناية
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />مُضحي
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />مُجامل/مُلاطف
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    مقنع. يصل الى اتفاق
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    شجاع/جرئ، لا يخاف
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />يعتمد
                    على الآخرين
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />متقلب/طائش، يتغير فجأة، يتبع نزواته
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    عقلاني/قليل المشاعر/يُظهر مشاعر قليلة
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    لحوح، عنيف ولديه اصرار
                  </label>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  اختر السمة الأكثر تعبيرًا عنك، وليس ما تحب أن تكونه
                </div>
                <div class="answers">
                  <label class="answer">
                    <input
                      type="radio"
                      name="q1"
                      value="personality"
                    />متسامح، يقبل الاخرين
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />يتمسك
                    بالتقليد/نمطي، يتبع الخطوات المعتادة لانجاز المهام
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    مؤثر/محفز، يضع اسباب مشجعة للتفكير والعمل
                  </label>
                  <label class="answer">
                    <input type="radio" name="q1" value="personality" />
                    محرك/موجه، يأمر ويُشرف
                  </label>
                </div>
              </div>
            </div>
            <button>إرسال</button>
          </div>
      
           
          
          </div>
        </div>
      </div>

      <div class="img-test_1 d-none d-lg-block">
        <img src="/images/tests-depression-illustration-1.svg" alt="" />
      </div>

      <div class="img-test_3 d-none d-lg-block">
        <img src="/images/tests-depression-illustration-3.svg" alt="" />
      </div>
    </div>
  </div>
</div>
