<app-header [backgroudClssImge]="'header-home'">
  <app-slider></app-slider>
  <div class="typed-container">
    <h1 class="typed-cursor">الصفحة الرئيسية</h1>
  </div>
</app-header>
<section id="about" class="about">
  <app-general-section>
    <h2>نبذه عنا</h2>
    <p>
      نلتزم بتقديم حلول مبتكرة تلبي احتياجاتكم وتجعل حياتكم أكثر سهولة وتميزًا.
    </p>
  </app-general-section>
  <app-about-contant></app-about-contant>
</section>

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
      >
        <div class="content">
          <h3>
            اختبارات تفاعلية
            <strong>لتحليل الشخصية والصحة النفسية</strong>
          </h3>
          <p>
            اكتشف شخصيتك ومستوى صحتك النفسية من خلال اختبارات علمية تعتمد على
            تحليل الصوت، تعابير الوجه، والإجابات الذكية. يتيح لك التطبيق تقييم
            مهارات التواصل لديك وتقديم توصيات مخصصة لمساعدتك في تحسين حياتك
            اليومية.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#accordion-list-1"
                ><span>1.</span>
                كيف يعمل التطبيق؟
                <i class="fa-solid fa-chevron-down icon-show"></i>
                <i class="fa-solid fa-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-1"
                class="collapse show"
                data-bs-parent=".accordion-list"
              >
                <p>1. تسجيل الدخول: قم بإنشاء حساب أو استخدم تسجيل</p>
                <p>
                  2. اختيار الاختبار: اختر بين اختبار التواصل أو تقييم الصحة
                  النفسية.
                </p>
                <p>
                  3. إجراء الاختبار: قم بالإجابة على الأسئلة أو تسجيل فيديو قصير
                  للتحليل.
                </p>
                <p>4. استلام النتيجة: احصل على تحليل مفصل وتوصيات مخصصة.</p>
                <p>
                  5. المتابعة: تابع تطور حالتك بمرور الوقت أو احجز استشارة
                  مباشرة.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2"
                class="collapsed"
                ><span>2.</span> ماهي مميزات التطبيق؟
                <i class="fa-solid fa-chevron-down icon-show"></i>
                <i class="fa-solid fa-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-2"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p></p>
                <p>تحليل صوتي متقدم – يحدد نبرة الصوت والتوتر في الكلام.</p>
                <p>
                  كشف تعابير الوجه – يدرس حركات الوجه لمعرفة الحالة النفسية.
                </p>
                <p>
                  مقاييس علمية معتمدة – نتائج دقيقة مبنية على دراسات موثوقة.
                </p>
                <p>اقتراحات ذكية – نصائح مخصصة بناءً على نتيجتك.</p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3"
                class="collapsed"
                ><span>3.</span> هل بياناتي محمية؟
                <i class="fa-solid fa-chevron-down icon-show"></i>
                <i class="fa-solid fa-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-3"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  نعم، التطبيق يحمي بياناتك بتشفير متقدم ولا يشاركها مع أي جهة
                  خارجية.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style="background-image: url('/images/why-us.png')"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        &nbsp;
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 d-flex align-items-center"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        <img src="/images/skills.png" class="img-fluid" alt="" />
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0 content"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <h3>الصحة النفسية في الوطن العربي</h3>
        <p class="fst-italic">
          تشير الأبحاث إلى تزايد معدلات الاضطرابات النفسية وضعف المهارات
          الاجتماعية، مما يؤثر على جودة الحياة والعلاقات الشخصية.
        </p>
        <span class="skill"
          >قلة الوعي بالصحة النفسية <i class="val">60%</i></span
        >
        <div class="skills-content">
          <div class="progress">
            <span class="skill">مستوى الاكتئاب <i class="val">30%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 30%"></div>
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">معدل القلق <i class="val">40%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 40%"></div>
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill"
              >ضعف المهارات الاجتماعية <i class="val">50%</i></span
            >
            <div class="progress-bar-wrap">
              <div
                class="progress"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 50%"></div>
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill"
              >قلة الوعي بالصحة النفسية <i class="val">60%</i></span
            >
            <div class="progress-bar-wrap">
              <div
                class="progress"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 60%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Skills Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>عراض القلق والاكتئاب وضعف مهارات التواصل</h2>
      <p>
        نقدم لك نبذة عن أعراض كل منهم ببعض من التفصيل فيما يلي، حيث نوضح لك
        الأعراض الشائعة والغير شائعة لكل حالة، بالإضافة إلى الأسباب المحتملة ،
        مما يساعدك على فهم أفضل لحالتك الصحية والتعامل معها بشكل أكثر وعيًا
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box featured">
          <h3>أولًا: أعراض القلق</h3>
          <ul>
            <li>تسارع ضربات القلب</li>
            <li>التعرق المفرط</li>
            <li>اهتزاز أو رجفة في الجسم</li>
            <li>اضطرابات النوم والأرق</li>
            <li>صعوبة في التركيز واتخاذ القرارات</li>
            <li>الشعور بعدم السيطرة على الأمور</li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box featured">
          <h3>ثانيًا: أعراض الاكتئاب</h3>
          <ul>
            <li>الشعور بالحزن أو الفراغ لفترات طويلة</li>
            <li>فقدان الاهتمام بالأنشطة الممتعة</li>
            <li>الإحساس بالتعب والإرهاق</li>
            <li>اضطرابات النوم (أرق أو نوم مفرط)</li>
            <li>الميل للعزلة الاجتماعية</li>
            <li>التفكير المتكرر في الموت أو الانتحار (في الحالات الشديدة)</li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="box featured">
          <h3>ثالثًا: أعراض ضعف مهارات التواصل</h3>
          <ul>
            <li>صعوبة في التعبير عن المشاعر والأفكار</li>
            <li>الخوف أو التوتر عند التحدث أمام الآخرين</li>
            <li>تجنب التواصل البصري أثناء الحديث</li>
            <li>عدم القدرة على قول "لا" أو وضع حدود واضحة</li>
            <li>صعوبة في تكوين صداقات أو الحفاظ عليها</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <app-general-section>
    <h2>الاختبارات</h2>
    <p>
      اكتشف نفسك بشكل أعمق من خلال اختباراتنا المتخصصة لتقييم شخصيتك، مهاراتك،
      وحالتك النفسية
    </p>
  </app-general-section>
  <app-test-content></app-test-content>
</section>
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>أقرب العيادات</h3>
        <p>
          نحن هنا لمساعدتك في العثور على الدعم الذي تحتاجه. إذا كنت بحاجة إلى
          مساعدة إضافية أو ترغب في تعرف على اقرب طبيب عبر الإنترنت، لا تتردد في
          التواصل مع الفريق الطبي المتخصص.
        </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn" (click)="findNearestClinic()">اقرب عياده</a>
      </div>
    </div>
    <!-- الخريطة هنا -->
    <div class="row">
      <div class="col-12">
        <div class="w-100">
          <iframe
            *ngIf="mapUrl"
            [src]="mapUrl"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen
            loading="lazy"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<!-- End Team Section -->

<!-- End Frequently Asked Questions Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>التيم</h2>
      <p>
        العمل الجماعي هو مفتاح الإنجاز، وعندما يجتمع الشغف مع التعاون، نصبح
        أقوى، نحقق الأهداف، ونبني مستقبلًا مليئًا بالنجاح.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img src="/images/team/shaker.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>احمد شاكر</h4>
            <span>AI team</span>
            <p>يمكن التواصل مع عن طريق</p>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="pic">
            <img src="/images/team/basant.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>بسنت حسن</h4>
            <span>AI team</span>
            <p>يمكن التواصل مع عن طريق</p>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img src="/images/team/Abanoub Fawaz.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>ابانوب فواز</h4>
            <span>BackEnd</span>
            <p>يمكن التواصل مع عن طريق</p>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="pic">
            <img src="/images/team/Shenoda Adel.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>شنوده عادل</h4>
            <span>BackEnd</span>
            <p>يمكن التواصل مع عن طريق</p>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img src="/images/team/sara.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>ساره ماهر</h4>
            <span>FrontEnd</span>
            <p>يمكن التواصل مع عن طريق</p>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="pic">
            <img src="/images/team/sandra.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>ساندرا عماد</h4>
            <span>FrontEnd</span>
            <p>يمكن التواصل مع عن طريق</p>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact-contant></app-contact-contant>

