<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <!-- <button id="dark-mode-toggle">🌙 تبديل الوضع</button> -->

        <li class="nav-item pe-4">
          <a
            class="nav-link active text-white position-relative pb-0"
            aria-current="page"
            href="file:///C:/Users/dell/Downloads/arsha/index.html"
          >
            الصفحه الرئيسية</a
          >
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link text-white" href="#about">نبذه عنا</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link text-white" href="Contacts.html">اتصل بنا</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link text-white" href="tests.html">الاختبارات</a>
        </li>
      </ul>
    </div>
    <img src="/images/logo.png" alt="logo" class="logo" />
  </div>
</nav>
