.progress-container {
  position: relative;
  height: 50px;
}

.progress {
  display: flex;
  height: 100%;
}

.score-indicator {
  position: absolute;
  top: -10px;
  transform: translateX(50%);
}
.tooltip-text {
  background-color: #f8f9fa;
  padding: 5px 10px;
  border-radius: 5px;
}
