<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 w-100">
    <div class="card-contant col mb-4">
      <div class="card w-100" data-aos="zoom-in" data-aos-delay="100">
        <img
          src="/images/service/communication skills.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fas fa-users card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">مهارات الاتصال</h5>
          <p class="card-text">يعرض بعض الاسئلة لتحديد مدى تفاعلك مع الاخرين</p>
          <button class="card-button">اضغط هنا</button>
        </div>
      </div>
    </div>

    <div class="card-contant col mb-4">
      <div class="card" data-aos="zoom-in" data-aos-delay="200">
        <img
          src="/images/service/personal type.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fas fa-user-circle card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">اعرف شخصيتك</h5>
          <p class="card-text">من خلالها يمكنك معرفة ما هى شخصيتك</p>
          <button class="card-button">اضغط هنا</button>
        </div>
      </div>
    </div>

    <div class="card-contant col mb-4">
      <div class="card" data-aos="zoom-in" data-aos-delay="300">
        <img
          src="/images/service/axitaty.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fas fa-brain card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">القلق</h5>
          <p class="card-text">
            يعرض بعض الاسئلة لتحديد هل يوجد القلق ام لا وما هى نسبته
          </p>
          <button class="card-button">اضغط هنا</button>
        </div>
      </div>
    </div>

    <div class="card-contant col mb-4">
      <div class="card" data-aos="zoom-in" data-aos-delay="400">
        <img
          src="/images/service/depression.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fa-solid fa-face-frown card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">اكتئاب</h5>
          <p class="card-text">
            يعرض بعض الاسئلة لتحديد هل يوجد اكتئاب ام لا وما هى نسبته
          </p>
          <button class="card-button">اضغط هنا</button>
        </div>
      </div>
    </div>
  </div>
</div>
