<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 w-100">


    <div class="card-contant col mb-4">
      <div class="card w-100" data-aos="zoom-in" data-aos-delay="100">
        <img
          src="/images/service/communication skills.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fas fa-users card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">مهارات الاتصال</h5>
          <p class="card-text">يعرض بعض الاسئلة لتحديد مدى تفاعلك مع الاخرين</p>
          <a
            [routerLink]="'/communication-skills'"
            class="text-decoration-none"
          >
            <button class="card-button">اضغط هنا</button>
          </a>
        </div>
      </div>
    </div>

    <div class="card-contant col mb-4">
      <div class="card" data-aos="zoom-in" data-aos-delay="200">
        <img
          src="/images/service/personal type.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fas fa-user-circle card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">اعرف شخصيتك</h5>
          <p class="card-text">من خلالها يمكنك معرفة ما هى نوع شخصيتك</p>
          <!-- <br /> -->
          <a [routerLink]="'/type-personal'" class="text-decoration-none">
            <button class="card-button">اضغط هنا</button>
          </a>
        </div>
      </div>
    </div>

    <div class="card-contant col mb-4">
      <div class="card" data-aos="zoom-in" data-aos-delay="300">
        <img
          src="/images/service/axitaty.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fas fa-brain card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">{{test[0].name}}</h5>
          <p class="card-text">
            يعرض بعض الاسئلة لتحديد هل يوجد القلق ام لا وما هى نسبته
          </p>
          
            <a [routerLink]="['/anixity', test[0].id]" class="text-decoration-none">
              <button class="card-button">اضغط هنا</button>
            </a>
          
        </div>
      </div>
    </div>

    <div class="card-contant col mb-4">
      <div class="card" data-aos="zoom-in" data-aos-delay="400">
        <img
          src="/images/service/depression.jpg"
          alt="Card Image"
          class="card-img"
        />
        <i class="fa-solid fa-face-frown card-icon"></i>
        <div class="card-body">
          <h5 class="card-title">{{test[1].name}}</h5>
          <p class="card-text">
            يعرض بعض الاسئلة لتحديد هل يوجد اكتئاب ام لا وما هى نسبته
          </p>
          <a [routerLink]="['/depression', test[1].id]" class="text-decoration-none">
            <button class="card-button">اضغط هنا</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
