<app-header [backgroudClssImge]="'header-communication-skills'">
  <div class="typed-container">
    <h1 class="typed-cursor">مهارات التواصل</h1>
  </div>
</app-header>
<div class="container position-relative all_contant" data-aos="zoom-in">
  <h2>هل تتمتع بمهارات التواصل الفعّال؟</h2>
  <p>
    ​يعطي هذا الاختبار نبذة عن حالتك النفسية و درجة الاكتئاب عندك و لا يعد وسيلة
    تشخيص دقيقة فلابد من الرجوع للطبيب النفسي لتشخيصك في الأسبوعين الماضيين كم
    مره تضايقت من الأمور التالية:​​
  </p>
  <div class="d-flex">
    <div class="container">
      <div class="row">
        <div
          class="col-12 d-flex justify-content-center align-items-center flex-column"
        >
          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">1.عند التعامل مع الاخرين تبتسم</div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q1"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>
          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                2. عند التعامل مع الاخرين تنظر الى الأخر و تلتقى عينيك بعينه
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q2"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q2"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q2"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                3. عند التعامل مع الاخرين تجلس بجوار الشخص الأخر أو تدير جسدك
                أليه نصف دوره
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q3"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q3"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q3"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                4. عند التعامل مع الاخرين تتعرف على أسمه و تستخدمه بكثره فى
                الحديث معه
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q4"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q4"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q4"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                5.عند التعامل مع الاخرين عندما تستمع اليه تومى برأسك دليل على
                الأنصات له
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q5"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q5"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q5"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>
          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                6.عند التعامل مع الاخرين تسأله أسئله ذات نهايات مفتوحه مما يجعله
                يجيب اجابات مطوله
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q6"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q6"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q6"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                7. عند التعامل مع الاخرين تبدى التعاطف معه مما يدل على انك تفهم
                احساسه و تتفهم وجهة نظره
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q7"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q7"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q7"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                8.عند التعامل مع الاخرين عندما تتفق معه تقول له هذا و تشرح
                أسبابك
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q8"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q8"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q8"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                9.عند التعامل مع الاخرين عندما تختلف معه تبين له لماذا تختلف فى
                وجهة نظرك و تشرح اسبابك
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q9"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q9"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q9"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                10.عند التعامل مع الاخرين تعترف عندما لا تعرف اجابة لأى سؤال أو
                تجيب أجابة خاطئه
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q10"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q10"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q10"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                11. عند التعامل مع الاخرين تنهى المحادثه بملحوظه ايجابيه
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q11"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q11"
                    value="أحياناً"
                    (click)="showResult(2)"
                  />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q11"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>

          <div class="w-100" data-aos="zoom-in">
            <div class="question-container">
              <div class="question">
                12.عند التعامل مع الاخرين تقول بوضوح ماذاتقدم له أو ماذا تريد ان
                تقوم به تجاهه
              </div>
              <div class="answers">
                <label class="answer">
                  <input
                    type="radio"
                    name="q12"
                    value="نادرا"
                    (click)="showResult(1)"
                  />
                  نادرا
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q12"
                    value="أحياناً"
                    (click)="showResult(2)"
                 />
                  أحياناً
                </label>
                <label class="answer">
                  <input
                    type="radio"
                    name="q12"
                    value="عادة"
                    (click)="showResult(3)"
                  />
                  عادة
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <button   (click)="showRecorderBox()"  style="padding: 15px 30px; font-size: 18px; border-radius: 10px;  color: white; border: none; cursor: pointer;">
        افتح سؤال الشعور 🎙️
      </button>

      
     
    </div>

    <div class="img-test_1 d-none d-lg-block">
      <img src="/images/tests-depression-illustration-1.svg" alt="" />
    </div>

    <div class="img-test_3 d-none d-lg-block">
      <img src="/images/tests-depression-illustration-3.svg" alt="" />
    </div>
  </div>
</div>
<div class="overlay" *ngIf="showRecorder">
  <div class="recorder-box">
    <button class="close-btn" (click)="closeRecorder()">✖️</button>
    <h2>🧠 إنت حاسس بإيه دلوقتي؟</h2>
    <img src="https://cdn-icons-png.flaticon.com/512/727/727245.png" alt="ميكروفون">
    <div class="recorder-buttons">
      <button class="start-btn" (click)="startRecording()">ابدأ التسجيل</button>
     
    </div>
  </div>
</div>

    