<section class="slider">

  <div #swiperContainer class="swiper">
  
    <div class="swiper-wrapper">
   
      <div class="swiper-slide">
        <img
          src="/images/DeWatermark.ai_1738947642558 (1).png"
          alt=""
          class="modal-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/images/DeWatermark.ai_1738947746290 (1).png"
          alt=""
          class="modal-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/images/DeWatermark.ai_1738947794564 (1).png"
          alt=""
          class="modal-img"
        />
      </div>
    </div>
    <div class="control">

      <div class="swiper-pagination"></div>

     
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
