<section class="slider">
  <!-- Slider main container -->
  <div #swiperContainer class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="/images/DeWatermark.ai_1738947642558 (1).png"
          alt=""
          class="modal-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/images/DeWatermark.ai_1738947746290 (1).png"
          alt=""
          class="modal-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/images/DeWatermark.ai_1738947794564 (1).png"
          alt=""
          class="modal-img"
        />
      </div>
    </div>
    <div class="control">
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
