<div class="footer-contain">
  <div class="logo-footer">
    <img src="/images/logo.png" alt="" class="w-100" />
  </div>
  <footer class="footer" data-aos="fade-up">
    <div class="container justify-content-center align-item-center text-center">
      <div class="row">
        <div
          class="col-lg-3 col-md-6 col-sm-12 mb-4 subscribe"
          data-aos="zoom-in"
        >
          <h3>اشترك معنا</h3>
          <p>تابع نصائحنا لتحسين صحتك النفسية وتطوير شخصيتك</p>
          <div class="input-container text-center">
            <input type="email" placeholder="example@gmail.com" />
            <button>إرسال →</button>
          </div>
        </div>
        <!-- Add AOS attributes to other footer columns -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4" data-aos="fade-up">
          <h3>روابط مهمة</h3>
          <ul>
            <li><a href="/about-us">تعرف علينا</a></li>
            <li><a href="/personality-tests">اختبارات تحديد الشخصية</a></li>
            <li><a href="/mental-health">التقييم النفسي </a></li>
            <li><a href="/communication-skills">مهارات التواصل</a></li>
            <li><a href="/clinics-nearby">أقرب عيادة نفسية</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4" data-aos="fade-up">
          <h3>مساعدة ودعم</h3>
          <ul>
            <li><a href="/contact-us">تواصل معنا</a></li>
            <li><a href="/blog">مقالات ونصائح عن الاكتئاب</a></li>
            <li><a href="/blog">مقالات ونصائح عن القلق</a></li>
            <li><a href="/blog">مقالات ونصائح عن مهارات التواصل</a></li>
            <li><a href="/blog">مقالات ونصائح عن نوع شخصيتك</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4" data-aos="fade-up">
          <h3>رعايتك النفسية تبدأ هنا</h3>
          <ul>
            <li>
              <a href="/personality-tests">ابدأ اختبار شخصيتك الآن</a>
            </li>
            <li><a href="/mental-health">قيم حالتك النفسية</a></li>
            <li><a href="/clinics-nearby">ابحث عن أقرب عيادة</a></li>
            <li><a href="/daily-tips">احصل على نصائح يومية</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
