<div data-aos="zoom-in">
  <section class="map">
    <div class="container">
      <div class="map">
        <iframe
          id="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.899933208957!2d31.2001318!3d30.4740706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7df5645a794dd%3A0xf23e10419a7decdf!2z2KfZhNmE2KrYsdmK2Kkg2KjZhNmF2LnYp9mG2YrZhtin2YTYs9mK2YHYp9mG2YrYqSDYp9mE2YbYqQ!5e0!3m2!1sar!2seg!4v1630313086142!5m2!1sar!2seg"
          width="100%"
          height="340"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <div class="row d-flex flex-lg-row">
    <!-- Contact Form -->

    <div class="col-lg-7 col-md-12 my-5-md">
      <div data-aos="zoom-in">
        <div class="contact-form">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <input formControlName="name" type="text" placeholder="الاسم" required />
              <input formControlName="phone" type="tel" placeholder="رقم الهاتف" required />
            </div>

            <div class="form-row">
              <input formControlName="date" type="date" required class="form-control" />
              <input formControlName="time" type="time" required class="form-control"/>
            </div>

            <textarea formControlName="problem" rows="4" cols="50" placeholder="اكتب هنا المشكلة" required></textarea>

            <button type="submit" class="submit-btn" [disabled]="contactForm.invalid">إرسال</button>
          </form>
          
        </div>
      </div>
    </div>

    <!-- Contact Items -->

    <div class="col-lg-5 col-md-12">
      <div class="contact-items d-flex align-items-lg-end">
        <div class="contact-item" data-aos="zoom-in">
          <i class="fas fa-phone-alt"></i>
          <div>
            <p class="title">الهاتف</p>
            <p>123-456-7890</p>
          </div>
        </div>

        <div class="contact-item" data-aos="zoom-in">
          <i class="fas fa-envelope"></i>
          <div>
            <p class="title">البريد الإلكتروني</p>
            <p>contact&#64;example.com</p>
          </div>
        </div>
        <div class="contact-item" data-aos="zoom-in">
          <i class="fab fa-linkedin"></i>
          <div>
            <p class="title">لينكدإن</p>
            <p>linkedin.com/in/example</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>