.all_contant {
  width: 100%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #003366;
  margin: 25px;
}

.question-container {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #003366;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question-container:hover {
  border-color: #007bff;
  outline: none;
  transform: scale(1.03);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.question {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #003366;
  font-size: 22px;
}

.answers {
  display: flex;
  gap: 17px;
  font-size: 18px;
}
.answer {
  margin-left: 10px;
}
.answers input[type="radio"] {
  color: #000;
}

.img-test_3 {
  position: absolute;
  bottom: 0;
  left: 20px;
}
@media (min-width: 640px) {
  .all_contant {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .all_contant {
    width: 1000%;
  }
}
@media (max-width: 768px) {
  .answers {
    flex-direction: column;
    gap: 0.5rem;
  }

  .answer {
    flex: 1 1 100%;
  }

  .typed-container h1 {
    font-size: 1.75rem;
    text-align: center;
  }

  .img-test_1,
  .img-test_3 {
    display: none !important;   }
}
.start-recording-button {
  background: linear-gradient(135deg, #1820c9 0%, #2575fc 100%);
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
}
.responsive-result-box {
  width: 100%;
  margin: 20px auto;
}

@media (min-width: 992px) {
  .responsive-result-box {
    width: 50%;
  }
}
