<div class="timeline" data-aos="zoom-in">
  <div class="timeline-item" data-aos="zoom-in">
    <div class="timeline-item-content">
      <h2><i class="fa-solid fa-heart-pulse icon"></i>معلومات عن التطبيق</h2>
      <p>
        التطبيق قائم على تحليل الشخصية وذلك عن طريق الاجابة على بعض الاسئلة
        المنقسمة الى اربع اختبارات التى تحتاج للاجابة عليها معلومات من اسبوعين
        مضو
      </p>
      <span class="date"></span>
    </div>
  </div>

  <div class="timeline-item" data-aos="zoom-in">
    <div class="timeline-item-content">
      <h2><i class="fas fa-users icon"></i>مهارات التواصل</h2>
      <p>
        حل بعض الاسئلة فى اختبار مهارات التواصل ومن ثم ينتقل الى اسئلة اخرى
        ليقوم بالرد عليها عن طريق الصوت وفتح الكاميرا لاخذ بعض التعبيرات التى
        تظهر على وجهه اثناء قراءت الاسئلة ومن ثم تظهر النتيجة اما الاختبارات
        الاخرى او يتكفى بظهور النتيجة فى حالة ان النتيجة كانت بنسبة جيدة
      </p>
      <span class="date"></span>
    </div>
  </div>

  <div class="timeline-item" data-aos="zoom-in">
    <div class="timeline-item-content">
      <h2><i class="fa-solid fa-face-frown icon"></i> الاكتئاب</h2>
      <p>
        الاكتئاب هو عبارة عن مجموعة من الاسئلة تقوم بالاجابة عليهم وهى اسئلة
        مرتبطة بهوية كل شخص عاى حدى وفى النهاية تظهر له نتيجة بناً على اجاباته
      </p>
      <span class="date"></span>
    </div>
  </div>

  <div class="timeline-item" data-aos="zoom-in">
    <div class="timeline-item-content">
      <h2><i class="fas fa-brain icon"></i>القلق</h2>
      <p>
        القلق هو عبارة عن مجموعة من الاسئلة تقوم بالاجابة عليهم وهى اسئلة مرتبطة
        بهوية كل شخص عاى حدى وفى النهاية تظهر له نتيجة بناً على اجاباته
      </p>
      <span class="date"></span>
    </div>
  </div>

  <div class="timeline-item" data-aos="zoom-in">
    <div class="timeline-item-content">
      <h2><i class="fas fa-user-circle icon"></i>اعرف شخصيتك</h2>
      <p>
        اعرف شخصيتك مجموعة من الاسئلة تقوم من خلال الاجابة على الاسئلة معرفة نوع
        شخصيتك والى اى فئة تنتمى
      </p>
      <span class="date"></span>
    </div>
  </div>
</div>
