<app-header [backgroudClssImge]="'header-Anixity'">
  <div class="typed-container">
    <h1 class="typed-cursor">{{testName}}</h1>
  </div>
</app-header>


<div data-aos="zoom-in">
  <div class="container position-relative all_contant">
    <h2>{{testName}}</h2>
    <p>
      يعطي هذا الاختبار نبذة عن حالتك النفسية و درجة {{ testName }} عندك و لا يعد
      وسيلة تشخيص دقيقة، فلابد من الرجوع للطبيب النفسي لتشخيصك. في الأسبوعين
      الماضيين، كم مره تضايقت من الأمور التالية؟
    </p>
    
    <div class="d-flex">
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center align-items-center flex-column"
          >
          @for(question of questions ; track $index){
            <div data-aos="zoom-in" class="w-100">
              <div class="question-container">
                <div class="question">
                  {{$index}}
                 {{question.questioncontent}}
                </div>
                <div class="answers">
                  <label class="answer">
                    <input
                      type="radio"
                      [name]="'q'+question.questionId"
                      value="أبداً"
                      (click)="showResult(0)"
                    />
                    {{question.choices[0].choiceContent}}
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      [name]="'q'+question.questionId"
                      value="بعض الأيام"
                      (click)="showResult(1)"
                    />
                    {{question.choices[1].choiceContent}}
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      [name]="'q'+question.questionId"
                      value="أكثر من نصف الأيام"
                      (click)="showResult(2)"
                    />
                    {{question.choices[2].choiceContent}}
                  </label>
                  <label class="answer">
                    <input
                      type="radio"
                      [name]="'q'+question.questionId"
                      value="كل يوم تقريباً"
                      (click)="showResult(3)"
                    />
                    {{question.choices[3].choiceContent}}
                  </label>
                </div>
              </div>
            </div>

          }
          
          </div>
        </div>
        <button (click)="toggleResult()">إرسال</button>
      </div>





      <div class="img-test_1 d-none d-lg-block">
        <img src="/images/tests-depression-illustration-1.svg" alt="" />
      </div>

      <div class="img-test_3 d-none d-lg-block">
        <img src="/images/tests-depression-illustration-3.svg" alt="" />
      </div>
    </div>
    <div class="alert alert-info shadow rounded-3 p-4 mt-4 w-50 text-center" [style.display]="showResultComponent ? 'block' : 'none'">
      <h5 class="mb-3">
        <i class="fas fa-heartbeat me-2 text-primary"></i>
        نتيجة الاختبار {{ testName }}
      </h5>
    
      <strong class="text-primary fs-5">{{ result }}</strong>
    
      <div class="mt-4 d-flex justify-content-center gap-3 flex-wrap">
        <button class="btn btn-outline-primary" (click)="findNearestClinic($event)">
          <i class="fas fa-map-marker-alt me-2"></i>
          أقرب عيادة
        </button>
    
        <button class="btn btn-primary"  [routerLink]="'/tests'">
          <i class="fas fa-redo me-2"></i>
          أعد الاختبار
        </button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="w-100">
          <iframe
            *ngIf="mapUrl"
            [src]="mapUrl"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen
            loading="lazy"
          >
          </iframe>
        </div>
      </div>
    </div>

    




  </div>

  
  
</div>
